<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ksi.core">

    <application>
        <activity
                android:name=".base.AppWebView"
                android:label="@string/title_activity_app_web_view"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>